.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.nav_container{
  background-color: black;
}
.container {
  background-color: black;
  border: 2px black solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.moviecard {
  /* border: 3px black solid; */
  display: flex;
  padding: 0 20px;

}

.image {
  border-radius: 20px 20px 0 0;
}

.divtitle {
  display: flex;
  justify-content: center;
}

.thumbnail {
  /* border: 2px black solid; */
  border-radius: 23px;
  background-color: orange;
  color: black;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;


}
.moviecard :hover{
  transform: scale(0.9);
}

span {
  color: red;
}

.divid {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.movielist {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

}


.containers {
  display: flex;
  flex-direction: row;
  background-color: bisque;
  border: 3px black solid;
  align-items: center;
  font-size: large;
  justify-content: space-between;

  padding-left: 30px;

}
.lang{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav_container{
  margin: 0 20px;

}

/* .header{
  display: flex;
  flex-wrap: nowrap;
} */
.container_layout {
  background-color: beige;
}

.home {
  border: 2px black solid;
  background-color: blue;
  margin: 10px 0;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: larger;
}

.MovieDetails {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 83vh;
}

.imagestyle {
padding: 40px 80px;
}
.imagestyle img{
  border-radius: 30px;
}
.content{
  color: red;
  padding: 50px 40px 50px 0;
 
}
.title{
  display: flex;
}
.original_title{
  font-size: 30px;
}
.release_date{
  display: flex;
  align-items: center;
}
.types{
 display: grid;
 grid-template-columns: repeat(6,1fr);
 padding: 40px 0;
 
}
.overview{
  font-size:30px ;
}
